$background-1: #1a2026;
$background-2: #29343d;
$background-3: #3b4b58;

$accent-1: #f9929b;
$accent-2: #7ed491;
$accent-3: #fbdf90;
$accent-4: #a3b8ef;
$accent-5: #ccaced;
$accent-6: #9ce5c0;
$accent-7: $accent-6;
$accent-8: #c7e5d6;

$primary-accent: $accent-7;
$secondary-accent: $accent-4;

$foreground-color: lighten($background-3, 45%);

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$background-2};
